<VaclsServerParams>
  <ConnectionParams>
    <portClient>8000</portClient>
    <portAdmin>5000</portAdmin>
  </ConnectionParams>
  <SystemParams>
    <maxThreadPoolNumber>4</maxThreadPoolNumber>
    <OpenCvPath>libs/OpenCV/build/java/x64/opencv_java340.so</OpenCvPath>
    <ClientScriptPath>/home/fox0117/JavaProjects/VACLS/vacls.server/ClientScript.js</ClientScriptPath>
  </SystemParams>
</VaclsServerParams>